@charset "UTF-8";
/* CSS Document */

html{
	font: normal 100%/1 Arial, Helvetica, sans-serif;
	background-color: #CCC;
}

body{
	margin: 1em auto;
	padding: 1em 1em;
	width: 50em;
	background-color: #FFF;
}

h1{
	text-align: center;
	text-decoration: underline;
}

/*.wrapper{
	margin: 0 auto;
	width: 15em;
}*/

.current{
	color: #0C0;
	background-color: #FFF;
}

.current:before{
	margin: 0 1em 0 0;
	content: '✔';
}

ul{
	list-style-type: none;
}

li{
	margin: 0 0 0 -1.25em;
	padding-left: 1em;
	background-color: #0FF;
	border: solid 1px;
	border-color: #000;
	font-size: 1em;
}